USE [master]
GO
/****** Object:  Database [Zapateria]    Script Date: 24/02/2018 11:49:09 a.m. ******/
CREATE DATABASE [Zapateria]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Zapateria', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Zapateria.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Zapateria_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Zapateria_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Zapateria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Zapateria]
GO
/****** Object:  Table [dbo].[Table_Almacen]    Script Date: 24/02/2018 11:49:09 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Almacen](
	[id] [int] NOT NULL,
	[modelo] [nchar](10) NOT NULL,
	[cantidad] [int] NOT NULL,
	[provedor] [nvarchar](50) NOT NULL,
	[fecha_llegada] [date] NOT NULL,
 CONSTRAINT [PK_Table_Almacen] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Table_Empleado]    Script Date: 24/02/2018 11:49:09 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Empleado](
	[id] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido_Paterno] [nvarchar](50) NOT NULL,
	[Apellido_Materno] [nvarchar](50) NOT NULL,
	[Edad]  AS (datediff(year,[Fecha_Nacimiento],getdate())),
	[Fecha_Nacimiento] [date] NOT NULL,
 CONSTRAINT [PK_Table_Empleado] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Table_Ganancias]    Script Date: 24/02/2018 11:49:09 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Ganancias](
	[id] [int] NOT NULL,
	[ganancia_mensual] [money] NOT NULL,
	[ganancia_anual] [money] NOT NULL,
 CONSTRAINT [PK_Table_Ganancias] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Table_Modelo]    Script Date: 24/02/2018 11:49:09 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Modelo](
	[id] [int] NOT NULL,
	[marca] [nchar](10) NOT NULL,
	[modelo] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Table_Modelo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Table_Ventas]    Script Date: 24/02/2018 11:49:09 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Ventas](
	[id] [int] NOT NULL,
	[cantidad] [money] NOT NULL,
	[precio] [money] NOT NULL,
	[iva]  AS ([precio]*(0.16)),
 CONSTRAINT [PK_Table_Ventas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
