USE [CineFCFM]
GO
/****** Object:  Table [dbo].[SUCURSAL]    Script Date: 17/02/2018 10:30:04 a.m. ******/
DROP TABLE [dbo].[SUCURSAL]
GO
USE [master]
GO
/****** Object:  Database [CineFCFM]    Script Date: 17/02/2018 10:30:04 a.m. ******/
DROP DATABASE [CineFCFM]
GO
/****** Object:  Database [CineFCFM]    Script Date: 17/02/2018 10:30:04 a.m. ******/
CREATE DATABASE [CineFCFM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CineFCFM', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\CineFCFM.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CineFCFM_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\CineFCFM_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CineFCFM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CineFCFM]
GO
/****** Object:  Table [dbo].[SUCURSAL]    Script Date: 17/02/2018 10:30:04 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SUCURSAL](
	[idSucursal] [varchar](10) NULL,
	[nombre] [varchar](20) NULL,
	[telefono] [varchar](10) NOT NULL,
	[direccion] [varchar](60) NULL,
	[pais] [varchar](10) NOT NULL,
	[estado] [varchar](15) NULL,
	[cantSalas] [varchar](10) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
